/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/main.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  height: 100%;
}

/* line 24, ../sass/main.scss */
body #Wrapper {
  display: inline-block;
  width: auto;
  height: 100%;
  margin-left: 140px;
  background-image: none;
  background-color: #F1F2F6;
}
/* line 31, ../sass/main.scss */
body #Wrapper .content {
  width: auto;
  margin: 0 0px 0 auto;
}
/* line 35, ../sass/main.scss */
body #Wrapper .sep20 {
  display: none;
}

/* line 40, ../sass/main.scss */
::-webkit-scrollbar {
  width: 2px;
}

/* line 44, ../sass/main.scss */
#Top {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  height: 100% !important;
  background-color: #707791 !important;
}
/* line 52, ../sass/main.scss */
#Top #k_navbar {
  display: inline-block;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  vertical-align: top;
  text-align: center;
  background-color: #505770 !important;
}
/* line 61, ../sass/main.scss */
#Top #k_navbar a {
  display: block;
  vertical-align: text-top;
  padding: 15px 0;
  color: #fff;
}
/* line 67, ../sass/main.scss */
#Top #k_navbar #avatar img {
  width: 40px;
  border-radius: 50%;
}
/* line 73, ../sass/main.scss */
#Top #k_tabbar {
  display: inline-block;
  top: 0;
  left: 80px;
  width: 60px;
  height: 100%;
  vertical-align: top;
  text-align: center;
}
/* line 81, ../sass/main.scss */
#Top #k_tabbar a {
  display: block;
  vertical-align: middle;
  padding: 15px 0;
  color: #fff;
  margin-right: 0;
}
/* line 88, ../sass/main.scss */
#Top #k_tabbar a:hover {
  color: #505770;
}

/* line 94, ../sass/main.scss */
#Main {
  width: auto;
  margin: 0px 270px 0px 0px !important;
  overflow: scroll;
  transition: width 2s ease-out;
}
/* line 98, ../sass/main.scss */
#Main #Tabs {
  display: none;
}
/* line 102, ../sass/main.scss */
#Main #k_itemList {
  width: auto;
  margin: 0 0 1rem 0;
  padding: 0 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
/* line 110, ../sass/main.scss */
#Main #k_itemList #k_subNav {
  display: block;
}
/* line 112, ../sass/main.scss */
#Main #k_itemList #k_subNav a {
  text-align: center;
  line-height: 32px;
  height: 32px;
  padding: 0 5px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .8px;
  display: inline-block;
  transition: color .28s ease;
}
/* line 124, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul {
  margin: 0;
}
/* line 126, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li {
  position: relative;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  list-style-type: none;
  text-align: left;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 137, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li a {
  vertical-align: text-top;
  display: inline-block;
}
/* line 141, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li .k_itemList_avatar {
  width: 48px;
  height: 48px;
  overflow: hidden;
}
/* line 142, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li .k_itemList_avatar img {
  width: 48px;
  height: 48px;
}
/* line 150, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li .k_itemList_title {
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
  width: 800px;
  height: 42px;
}
/* line 157, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li .k_itemList_node_vote {
  display: inline-block;
  vertical-align: text-top;
  height: 48px;
  width: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 165, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li .k_itemList_node_vote .k_itemList_vote {
  display: inline-block;
  width: 50%;
  line-height: 24px;
  height: 24px;
  color: #ffffff;
}
/* line 172, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li .k_itemList_node_vote .k_itemList_reply {
  display: inline-block;
  width: 50%;
  line-height: 24px;
  height: 24px;
  color: #ffffff;
  background-color: #707791;
}
/* line 179, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li .k_itemList_node_vote .k_itemList_reply i {
  font-size: 7px;
}
/* line 183, ../sass/main.scss */
#Main #k_itemList #k_itemList_ul li .k_itemList_node_vote .k_itemList_node {
  font-size: 8px;
  line-height: 24px;
  height: 24px;
  display: block;
  padding: 0 5px;
  color: #ffffff;
  background: #505770;
}

/* line 200, ../sass/main.scss */
#Main.k_itemlist span.small.fade {
  display: none;
}

/* line 205, ../sass/main.scss */
#Rightbar {
  transition: width 0.5s ease-out;
}
/* line 206, ../sass/main.scss */
#Rightbar > div {
  display: none;
}
/* line 213, ../sass/main.scss */
#Rightbar #Search {
  width: 100%;
}
/* line 215, ../sass/main.scss */
#Rightbar #Search form div {
  width: 270px !important;
  background: #FFF !important;
  border: 1px solid #dddddd;
  height: 34px !important;
}

/* line 225, ../sass/main.scss */
#k_faster {
  padding: 10px 20px;
  text-align: left;
  margin: 0;
  overflow: scroll;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
/* line 233, ../sass/main.scss */
#k_faster p {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}
/* line 239, ../sass/main.scss */
#k_faster h2, #k_faster h3 {
  margin: 0;
  font-size: 150%;
  line-height: 40px;
}
/* line 245, ../sass/main.scss */
#k_faster blockquote {
  margin: 0;
  padding: 5px 0 5px 15px;
  border-left: 5px solid #ddd;
  font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, FontAwesome, serif;
}
/* line 252, ../sass/main.scss */
#k_faster * {
  max-width: 690px;
}

/* line 257, ../sass/main.scss */
#k_infos {
  position: fixed;
  top: 0;
  left: 80px;
  height: 48px;
  display: inline-block;
  z-index: 1000;
  padding: 15px 0;
  background-color: #505770;
  width: 600px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}
/* line 271, ../sass/main.scss */
#k_infos a.dark {
  height: 100%;
  display: inline-block !important;
  vertical-align: middle;
  margin-right: 5px;
  padding: 15px 0;
}
/* line 278, ../sass/main.scss */
#k_infos div {
  display: inline-block;
  padding: 0;
}
/* line 281, ../sass/main.scss */
#k_infos div img {
  width: 48px;
  border-radius: 50%;
}
/* line 285, ../sass/main.scss */
#k_infos div div.node_compose {
  display: none;
}
/* line 288, ../sass/main.scss */
#k_infos div a:last-child {
  display: none;
}

/* line 294, ../sass/main.scss */
#k_infos.hiden {
  width: 0;
  overflow: hidden;
}

/* line 300, ../sass/main.scss */
#Bottom {
  display: none;
}

/* line 306, ../sass/main.scss */
.k_color_dark {
  background-color: #505770;
}

/* line 310, ../sass/main.scss */
.k_color_light {
  background-color: #707791;
}

/* line 314, ../sass/main.scss */
span a.node.k_color_node, td a.count_livid.k_color_count, span.no {
  background-color: #BCC4E0;
  color: #505770;
}

/* line 320, ../sass/main.scss */
td a.count_livid.k_color_count {
  float: right;
}

/* line 324, ../sass/main.scss */
#Wrapper.k_color_background {
  background-color: #F1F2F6;
}

/* line 328, ../sass/main.scss */
.k_color_hover:hover {
  background-color: #9B9EC2;
  color: #505770;
}

/* line 333, ../sass/main.scss */
.k_color_item {
  background-color: #FFFFFF;
}
/* line 335, ../sass/main.scss */
.k_color_item a:link, .k_color_item a:visited, .k_color_item a:active {
  color: #3C3B47;
  text-shadow: none;
}

/* line 341, ../sass/main.scss */
.k_color_choosen {
  background-color: #EEE;
}

/* line 347, ../sass/main.scss */
.box {
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #DDD;
  margin-bottom: -1px;
}
/* line 352, ../sass/main.scss */
.box .inner {
  border-radius: 0px;
}

/* line 357, ../sass/main.scss */
.box
.cell {
  border-bottom: 1px solid #E2E2E2;
}
/* line 360, ../sass/main.scss */
.box
.cell table tr td:nth-child(1) {
  vertical-align: middle !important;
}
/* line 363, ../sass/main.scss */
.box
.cell table tr td:nth-child(3) a[href="/new"] {
  padding: 7px 20px;
  background: #eee;
  border-radius: 20px;
  margin: 0 78px 20px 0;
  float: right;
}

/* line 372, ../sass/main.scss */
.cell > table {
  table-layout: fixed;
}
/* line 374, ../sass/main.scss */
.cell > table tbody tr td {
  border-left: none !important;
  border-right: none !important;
}

/* line 380, ../sass/main.scss */
.cell.item.k_color_item > div > img {
  display: none;
}

/* line 384, ../sass/main.scss */
.fade {
  color: #3C3B47;
}

/* line 388, ../sass/main.scss */
a.fade {
  display: none;
}

/* line 392, ../sass/main.scss */
.inner {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 397, ../sass/main.scss */
.item_title {
  padding-top: 10px;
}

/* line 401, ../sass/main.scss */
.msl {
  width: 615px;
}

/* line 405, ../sass/main.scss */
.no {
  color: #BBB;
  padding: 4px 5px;
}

/* line 410, ../sass/main.scss */
.snow {
  color: #CCC;
}

/* line 414, ../sass/main.scss */
.topic_buttons {
  border-top: 1px solid #e6e6e6;
  background: #f3f3f3;
  margin-top: 20px;
}

/* line 420, ../sass/main.scss */
a:link, a:visited, a:active {
  color: #666E74;
}

/* line 424, ../sass/main.scss */
a.top:link, a.top:visited {
  color: #BBB;
  font-size: 14px;
}

/* line 429, ../sass/main.scss */
a.top:hover {
  color: #333;
}

/* line 433, ../sass/main.scss */
a.balance_area:link, a.balance_area:visited, .balance_area {
  background: #FFF;
}

/* line 437, ../sass/main.scss */
a.item_node {
  background: #FFF;
  border: 1px #FFF solid;
}

/* line 442, ../sass/main.scss */
textarea.mll {
  width: 625px;
}

/* line 446, ../sass/main.scss */
div[id*="r_"].cell table tr td:nth-child(1) {
  vertical-align: baseline !important;
}

/* line 450, ../sass/main.scss */
div.header h1 {
  margin-right: 80px;
}

/* line 454, ../sass/main.scss */
div.fr a[href*="member"] img {
  margin-top: 30px;
}

/* line 458, ../sass/main.scss */
td[width="32"] {
  padding-right: 20px;
}

/* line 462, ../sass/main.scss */
a.balance_area {
  vertical-align: top;
  background: none;
}

/* line 467, ../sass/main.scss */
#reply_content {
  width: 100%;
}

/* line 471, ../sass/main.scss */
textarea.mll {
  padding: 0;
}

/* line 475, ../sass/main.scss */
iframe[seamless] {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

/*------------fonticon------------*/
/*---colors---*/
/* line 485, ../sass/main.scss */
.red {
  background: #e53935;
}

/* line 489, ../sass/main.scss */
.yellow {
  background: #f9a825;
}

/* line 493, ../sass/main.scss */
.green {
  background: #43a047;
}

/* line 497, ../sass/main.scss */
.blue {
  background: #0277bd;
}

/* line 501, ../sass/main.scss */
.black {
  background: #263238;
}
