/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 30, ../sass/main_old.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  height: 100%;
  background-color: #ECF0F1;
  overflow-x: hidden;
}

/* line 38, ../sass/main_old.scss */
::-webkit-scrollbar {
  width: 1px;
}

/* line 42, ../sass/main_old.scss */
#Top, #Wrapper, #Bottom {
  display: none;
}

/* line 46, ../sass/main_old.scss */
#k_sidebar {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  background-color: #34495E;
}
/* line 54, ../sass/main_old.scss */
#k_sidebar #k_navbar {
  display: inline-block;
  width: 80px;
  height: 100%;
  vertical-align: top;
  transition: width .3s;
}
/* line 60, ../sass/main_old.scss */
#k_sidebar #k_navbar a {
  display: block;
  vertical-align: middle;
  padding: 15px 0;
  background-color: #34495E;
  color: #95A5A4;
  text-align: center;
}
/* line 67, ../sass/main_old.scss */
#k_sidebar #k_navbar a span {
  display: inline-block;
  text-align: left;
  width: 0;
  height: 0;
  vertical-align: top;
  transition: width .5s;
  overflow: hidden;
}
/* line 76, ../sass/main_old.scss */
#k_sidebar #k_navbar a i {
  font-size: 24px;
}
/* line 80, ../sass/main_old.scss */
#k_sidebar #k_navbar a:hover {
  background-color: #233342;
  color: #FFF;
}
/* line 81, ../sass/main_old.scss */
#k_sidebar #k_navbar a:hover i {
  color: #2DCC70;
}
/* line 88, ../sass/main_old.scss */
#k_sidebar #k_navbar #k_avatar {
  background-color: #2DCC70;
  padding: 20px 0;
}
/* line 91, ../sass/main_old.scss */
#k_sidebar #k_navbar #k_avatar img {
  width: 40px;
  border-radius: 50%;
}
/* line 96, ../sass/main_old.scss */
#k_sidebar #k_navbar:hover {
  width: 140px;
}
/* line 98, ../sass/main_old.scss */
#k_sidebar #k_navbar:hover i {
  text-align: right;
  width: 40px;
  padding-right: 10px;
}
/* line 103, ../sass/main_old.scss */
#k_sidebar #k_navbar:hover span {
  line-height: 24px;
  height: 24px;
  width: 70px;
}
/* line 109, ../sass/main_old.scss */
#k_sidebar #k_navbar:hover #k_avatar img {
  padding: 0 10px;
  border-radius: 50%;
}
/* line 113, ../sass/main_old.scss */
#k_sidebar #k_navbar:hover #k_avatar span {
  color: #FFF;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
}
/* line 123, ../sass/main_old.scss */
#k_sidebar #k_tabbar {
  display: inline-block;
  left: 80px;
  width: 60px;
  height: 100%;
  padding-top: 80px;
  vertical-align: top;
  text-align: center;
  background-color: #4f6f8f;
}
/* line 132, ../sass/main_old.scss */
#k_sidebar #k_tabbar a {
  display: block;
  vertical-align: middle;
  padding: 15px 0;
  font-size: 12px;
  text-decoration: none;
  color: #EEE;
}
/* line 139, ../sass/main_old.scss */
#k_sidebar #k_tabbar a:hover {
  background-color: #3e5a74;
  color: #FFF;
}
/* line 144, ../sass/main_old.scss */
#k_sidebar #k_tabbar .k_tabbar_current {
  background-color: #2DCC70;
}

/* line 150, ../sass/main_old.scss */
#k_main {
  display: inline-block;
  margin-left: 140px;
  margin-right: 680px;
  overflow: hidden;
  background-color: #ECF0F1;
  transition: width 2s ease-out;
}
/* line 157, ../sass/main_old.scss */
#k_main #k_itemList {
  width: 100%;
  overflow: hidden;
}
/* line 160, ../sass/main_old.scss */
#k_main #k_itemList #k_hover {
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}
/* line 167, ../sass/main_old.scss */
#k_main #k_itemList #k_hover canvas {
  margin: 20% auto;
}
/* line 171, ../sass/main_old.scss */
#k_main #k_itemList #k_subNav {
  display: block;
  box-sizing: border-box;
  border-right: 2px solid #DFE0E2;
}
/* line 175, ../sass/main_old.scss */
#k_main #k_itemList #k_subNav a {
  color: #95A5A4;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  padding: 0 5px;
  margin: 0;
  text-decoration: none;
  letter-spacing: .8px;
  display: inline-block;
  transition: background-color .28s ease;
}
/* line 188, ../sass/main_old.scss */
#k_main #k_itemList #k_subNav a:hover {
  background-color: #2DCC70;
  color: #FFF;
}
/* line 194, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul {
  margin: 0 0 0 0;
}
/* line 196, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li {
  position: relative;
  background-color: #FFF;
  list-style-type: none;
  text-align: left;
  overflow: hidden;
  border-top: 1px solid #DFE0E2;
  padding: 5px;
}
/* line 204, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li a {
  vertical-align: text-top;
  display: inline-block;
}
/* line 208, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_avatar {
  width: 48px;
  height: 48px;
  overflow: hidden;
  margin-left: 5px;
}
/* line 209, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
/* line 219, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_title {
  vertical-align: text-top;
  display: inline-block;
  background-color: #FFF;
  color: #2D3E50;
  padding-left: 10px;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  transition: width 0.5s ease-out;
}
/* line 231, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_node_vote {
  display: inline-block;
  vertical-align: text-top;
  height: 48px;
  width: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 241, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_node_vote .k_itemList_vote {
  z-index: 1000;
  display: inline-block;
  position: relative;
  left: -90px;
  width: 50%;
  font-size: 10px;
  line-height: 24px;
  height: 24px;
  color: #ffffff;
  transition: left 0.2s ease-out;
}
/* line 254, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_node_vote .k_itemList_reply {
  z-index: 1000;
  display: inline-block;
  position: relative;
  left: -90px;
  width: 50%;
  font-size: 10px;
  line-height: 24px;
  height: 24px;
  color: #2D3E50;
  box-sizing: border-box;
  background-color: #ECF0F1;
  border: 1px solid #DFE0E2;
  transition: left 0.2s ease-out;
}
/* line 267, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_node_vote .k_itemList_reply i {
  font-size: 7px;
}
/* line 272, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_node_vote .k_itemList_userName {
  display: block;
  position: relative;
  top: -24px;
  height: 24px;
  font-size: 8px;
  line-height: 24px;
  padding: 0 5px;
  color: #ECF0F1;
  box-sizing: border-box;
  background-color: #4f6f8f;
  border: 1px solid #DFE0E2;
}
/* line 285, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_node_vote .k_itemList_node {
  position: relative;
  top: -24px;
  font-size: 8px;
  line-height: 24px;
  height: 24px;
  display: block;
  padding: 0 5px;
  color: #2D3E50;
  box-sizing: border-box;
  background-color: #ECF0F1;
  border: 1px solid #DFE0E2;
}
/* line 300, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_more {
  color: #2D3E50;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
}
/* line 306, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_QR {
  float: right;
  padding: 8px 0;
}
/* line 308, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li .k_itemList_QR i {
  color: #FFF;
}
/* line 314, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li:hover {
  background-color: #e4e8f5;
}
/* line 316, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li:hover .k_itemList_title {
  background-color: inherit;
  color: #3C3B47;
}
/* line 321, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul li:hover .k_itemList_node_vote .k_itemList_vote, #k_main #k_itemList #k_itemList_ul li:hover .k_itemList_node_vote .k_itemList_reply {
  z-index: 1000;
  left: 0;
}
/* line 327, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul .k_itemList_choosen {
  background-color: #F7F8FC;
  border-right: 5px solid #2DCC70;
}
/* line 330, ../sass/main_old.scss */
#k_main #k_itemList #k_itemList_ul .k_itemList_choosen .k_itemList_title {
  background-color: inherit;
  color: #3C3B47;
}
/* line 338, ../sass/main_old.scss */
#k_main #k_notifiList {
  width: auto;
  margin: 0 0 0 0;
  padding: 0 10px;
  overflow: hidden;
  position: relative;
}
/* line 344, ../sass/main_old.scss */
#k_main #k_notifiList li {
  position: relative;
  background-color: #707791;
  list-style-type: none;
  text-align: left;
  overflow: hidden;
  border-radius: 0;
  border-bottom: 1px solid #505770;
  padding: 5px;
}
/* line 353, ../sass/main_old.scss */
#k_main #k_notifiList li .k_notifiList_avatar {
  vertical-align: text-top;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
/* line 355, ../sass/main_old.scss */
#k_main #k_notifiList li .k_notifiList_avatar img {
  width: 24px;
  height: 24px;
}
/* line 363, ../sass/main_old.scss */
#k_main #k_notifiList li .k_notifiList_title {
  vertical-align: top;
  display: inline-block;
  background-color: #707791;
  color: #9B9EC2;
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}
/* line 373, ../sass/main_old.scss */
#k_main #k_notifiList li .k_notifiList_reply {
  border-left: 4px solid #BCC4E0;
  line-height: 18px;
  padding: 10px;
  margin-top: 5px;
  background-color: #707791;
  color: #FFFFFF;
}

/* line 384, ../sass/main_old.scss */
#k_main.origin {
  margin-right: auto;
}

/* line 387, ../sass/main_old.scss */
#k_faster {
  display: inline-block;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;
  top: 0;
  width: 680px;
  background-color: #ECF0F1;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 399, ../sass/main_old.scss */
#k_infos {
  position: fixed;
  top: 0;
  left: 80px;
  height: 48px;
  display: inline-block;
  z-index: 1000;
  padding: 15px 0;
  background-color: #505770;
  width: 600px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}
/* line 413, ../sass/main_old.scss */
#k_infos a.dark {
  height: 100%;
  display: inline-block !important;
  vertical-align: middle;
  margin-right: 5px;
  padding: 15px 0;
}
/* line 420, ../sass/main_old.scss */
#k_infos div {
  display: inline-block;
  padding: 0;
}
/* line 423, ../sass/main_old.scss */
#k_infos div img {
  width: 48px;
  border-radius: 50%;
}
/* line 427, ../sass/main_old.scss */
#k_infos div div.node_compose {
  display: none;
}
/* line 430, ../sass/main_old.scss */
#k_infos div a:last-child {
  display: none;
}

/* line 436, ../sass/main_old.scss */
#k_infos.hiden {
  width: 0;
  overflow: hidden;
}

/* line 442, ../sass/main_old.scss */
#Bottom {
  display: none;
}

/* line 448, ../sass/main_old.scss */
.k_color_dark {
  background-color: #505770;
}

/* line 452, ../sass/main_old.scss */
.k_color_light {
  background-color: #707791;
}

/* line 456, ../sass/main_old.scss */
span a.node.k_color_node, td a.count_livid.k_color_count, span.no {
  background-color: #BCC4E0;
  color: #505770;
}

/* line 462, ../sass/main_old.scss */
td a.count_livid.k_color_count {
  float: right;
}

/* line 466, ../sass/main_old.scss */
#Wrapper.k_color_background {
  background-color: #F1F2F6;
}

/* line 475, ../sass/main_old.scss */
.k_color_item {
  background-color: #FFFFFF;
}
/* line 477, ../sass/main_old.scss */
.k_color_item a:link, .k_color_item a:visited, .k_color_item a:active {
  color: #3C3B47;
  text-shadow: none;
}

/* line 483, ../sass/main_old.scss */
.k_color_choosen {
  background-color: #EEE;
}

/* line 489, ../sass/main_old.scss */
.sep20 {
  display: none;
}

/* line 492, ../sass/main_old.scss */
.topic_buttons {
  margin-top: 0 !important;
}

/* line 496, ../sass/main_old.scss */
.box {
  border-radius: 0 !important;
  box-shadow: none;
  border: 1px solid #DDD;
  margin-bottom: -1px;
}
/* line 501, ../sass/main_old.scss */
.box .inner {
  border-radius: 0px;
}

/* line 506, ../sass/main_old.scss */
.box
.cell {
  border-bottom: 1px solid #E2E2E2;
}
/* line 509, ../sass/main_old.scss */
.box
.cell table tr td:nth-child(1) {
  vertical-align: middle !important;
}
/* line 512, ../sass/main_old.scss */
.box
.cell table tr td:nth-child(3) a[href="/new"] {
  padding: 7px 20px;
  background: #eee;
  border-radius: 20px;
  margin: 0 78px 20px 0;
  float: right;
}

/* line 521, ../sass/main_old.scss */
.cell > table {
  table-layout: fixed;
}
/* line 523, ../sass/main_old.scss */
.cell > table tbody tr td {
  border-left: none !important;
  border-right: none !important;
}

/* line 529, ../sass/main_old.scss */
.cell.item.k_color_item > div > img {
  display: none;
}

/* line 533, ../sass/main_old.scss */
.fade {
  color: #3C3B47;
}

/* line 537, ../sass/main_old.scss */
a.fade {
  display: none;
}

/* line 541, ../sass/main_old.scss */
.inner {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 546, ../sass/main_old.scss */
.item_title {
  padding-top: 10px;
}

/* line 550, ../sass/main_old.scss */
.msl {
  width: 615px;
}

/* line 554, ../sass/main_old.scss */
.no {
  color: #BBB;
  padding: 4px 5px;
}

/* line 559, ../sass/main_old.scss */
.snow {
  color: #CCC;
}

/* line 563, ../sass/main_old.scss */
.topic_buttons {
  border-top: 1px solid #e6e6e6;
  background: #f3f3f3 !important;
  margin-top: 20px;
}

/* line 569, ../sass/main_old.scss */
a:link, a:visited, a:active {
  color: #666E74;
}

/* line 573, ../sass/main_old.scss */
a.balance_area:link, a.balance_area:visited, .balance_area {
  background: #FFF;
}

/* line 577, ../sass/main_old.scss */
a.item_node {
  background: #FFF;
  border: 1px #FFF solid;
}

/* line 582, ../sass/main_old.scss */
textarea.mll {
  width: 625px;
}

/* line 586, ../sass/main_old.scss */
div[id*="r_"].cell table tr td:nth-child(1) {
  vertical-align: baseline !important;
}

/* line 590, ../sass/main_old.scss */
div.header h1 {
  margin-right: 80px;
}

/* line 594, ../sass/main_old.scss */
div.fr a[href*="member"] img {
  margin-top: 30px;
}

/* line 598, ../sass/main_old.scss */
td[width="32"] {
  padding-right: 20px;
}

/* line 602, ../sass/main_old.scss */
a.balance_area {
  vertical-align: top;
  background: none;
}

/* line 607, ../sass/main_old.scss */
#reply_content {
  width: 100%;
}

/* line 611, ../sass/main_old.scss */
textarea.mll {
  padding: 0;
}

/* line 615, ../sass/main_old.scss */
iframe[seamless] {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

/*------------fonticon------------*/
/*---colors---*/
/* line 625, ../sass/main_old.scss */
.red {
  background: #e53935;
}

/* line 629, ../sass/main_old.scss */
.yellow {
  background: #f9a825;
}

/* line 633, ../sass/main_old.scss */
.green {
  background: #43a047;
}

/* line 637, ../sass/main_old.scss */
.blue {
  background: #0277bd;
}

/* line 641, ../sass/main_old.scss */
.black {
  background: #263238;
}
