@charset "UTF-8";
/* line 20, ../sass/_const.scss */
body {
  background-color: #FFFFFF !important;
}

/* 这是针对缺省样式 (必须的) */
/* line 25, ../sass/_const.scss */
::-webkit-scrollbar-track {
  background-color: #FFFFFF !important;
}

/* 滚动条的滑轨背景颜色 */
/* line 29, ../sass/_const.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

/* nav */
/* line 34, ../sass/_const.scss */
.k-nav-bg {
  background-color: #34495E;
}

/* line 37, ../sass/_const.scss */
.k-nav-hover:hover {
  background-color: #233342;
}

/* line 40, ../sass/_const.scss */
.k-nav-text {
  color: #FFFFFF;
}

/* tab */
/* line 45, ../sass/_const.scss */
.k-tab-bg {
  background-color: #4f6f8f;
}

/* line 49, ../sass/_const.scss */
.k-tab-hover:hover, .k-tab-hover.active {
  background-color: #7796b4;
}

/* line 53, ../sass/_const.scss */
.k-tab-text {
  color: #FFFFFF;
}

/* list */
/* line 57, ../sass/_const.scss */
.k-list-bg {
  background-color: #7796b4;
}

/* line 60, ../sass/_const.scss */
.k-list-text {
  color: #FFFFFF;
}

/* line 63, ../sass/_const.scss */
.k-list-text-2 {
  color: #7796b4;
}
/* line 65, ../sass/_const.scss */
.k-list-text-2:hover {
  color: #FFFFFF;
}

/* line 69, ../sass/_const.scss */
.k-list-border {
  border-color: #98afc6;
}

/* line 72, ../sass/_const.scss */
.k-list-reply {
  background-color: #FFFFFF;
  color: #7796b4;
}

/* iframe */
/* line 79, ../sass/_const.scss */
.k-iframe-bg {
  background-color: #98afc6;
}

/* line 2, ../sass/_navbar.scss */
.k-navbar {
  vertical-align: top;
  transition: width 0.2s;
}
/* line 5, ../sass/_navbar.scss */
.k-navbar .k-navbar-item {
  display: block;
  vertical-align: middle;
  padding: 15px 0;
  text-align: center;
}
/* line 10, ../sass/_navbar.scss */
.k-navbar .k-navbar-item span {
  display: inline-block;
  text-align: left;
  width: 0;
  height: 0;
  vertical-align: top;
  transition: width 0.3s;
  overflow: hidden;
}
/* line 19, ../sass/_navbar.scss */
.k-navbar .k-navbar-item i {
  font-size: 22px;
}
/* line 23, ../sass/_navbar.scss */
.k-navbar .k-avatar {
  padding: 20px 0;
  max-height: 80px;
  overflow: hidden;
}
/* line 27, ../sass/_navbar.scss */
.k-navbar .k-avatar img {
  display: inline-block;
  width: 40px;
  border-radius: 50%;
  margin-left: 20px;
}
/* line 33, ../sass/_navbar.scss */
.k-navbar .k-avatar span {
  display: inline-block;
  text-align: left;
  width: 0;
  height: 0;
  vertical-align: top;
  transition: width .5s;
  overflow: hidden;
}
/* line 43, ../sass/_navbar.scss */
.k-navbar:hover {
  width: 140px;
}
/* line 45, ../sass/_navbar.scss */
.k-navbar:hover > .k-navbar-item > i {
  text-align: right;
  width: 40px;
  padding-right: 10px;
}
/* line 50, ../sass/_navbar.scss */
.k-navbar:hover span {
  line-height: 24px;
  height: 24px;
  width: 70px;
}
/* line 56, ../sass/_navbar.scss */
.k-navbar:hover .k-avatar img {
  width: 0;
}
/* line 59, ../sass/_navbar.scss */
.k-navbar:hover .k-avatar span {
  vertical-align: top;
  line-height: 40px;
  height: 40px;
  width: 100px;
}

/* line 3, ../sass/_tabbar.scss */
.k-tabbar {
  display: inline-block;
  left: 80px;
  width: 60px;
  height: 100%;
  padding-top: 80px;
  vertical-align: top;
  text-align: center;
}
/* line 11, ../sass/_tabbar.scss */
.k-tabbar .k-tabbar-item {
  display: block;
  vertical-align: middle;
  padding: 15px 0;
  font-size: 12px;
  text-decoration: none;
}

/* line 2, ../sass/_main.scss */
#Bottom,
#Main,
#Rightbar,
#Tabs,
#Top,
#Wrapper .sep20 {
  display: none;
}

/* line 10, ../sass/_main.scss */
#Wrapper {
  padding-top: 0 !important;
}

/* line 13, ../sass/_main.scss */
#Main {
  width: auto;
  margin: 0 !important;
}

/* line 17, ../sass/_main.scss */
#Search div,
#Top,
#Wrapper,
.dock_area,
.item,
.item_node,
.super.button,
.super.button:hover,
.topic_buttons,
.topic_buttons:hover {
  background-image: none !important;
}

/* line 29, ../sass/_main.scss */
.topic_buttons {
  background-color: #eee;
  border-bottom: 1px solid #999;
}

/* line 33, ../sass/_main.scss */
.normal.button,
.normal.buttonhover {
  text-shadow: 0 0 0 #fff;
}

/* line 37, ../sass/_main.scss */
.box,
.normal.button,
.normal.button:hover,
input.sl,
textarea {
  text-shadow: 0 0 0 #fff;
  box-shadow: 0 0 0 #fff !important;
}

/* line 45, ../sass/_main.scss */
.box {
  border-width: 0;
}

/* line 48, ../sass/_main.scss */
#Wrapper .content {
  max-width: none;
}

/* line 52, ../sass/_main.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
  min-width: 600px !important;
}

/* line 59, ../sass/_main.scss */
::-webkit-scrollbar {
  width: 0 !important;
}

/* 滑块颜色 */
/* line 64, ../sass/_main.scss */
.k-container {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 73, ../sass/_main.scss */
.k-container.origin {
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 140px;
}

/* line 82, ../sass/_main.scss */
.k-navbar {
  -webkit-flex: initial;
  flex: initial;
  position: fixed;
  width: 80px;
  height: 100%;
  z-index: 10;
}

/* line 90, ../sass/_main.scss */
.k-tabbar {
  -webkit-flex: initial;
  flex: initial;
  position: fixed;
  width: 60px;
  height: 100%;
}

/* line 97, ../sass/_main.scss */
.k-main {
  margin-left: 140px;
  -webkit-flex: 1;
  flex: 1;
}

@media (max-width: 1040px) {
  /* line 103, ../sass/_main.scss */
  .k-tabbar {
    -webkit-flex: initial;
    flex: initial;
    position: fixed;
    left: -60px;
    height: 100%;
  }

  /* line 110, ../sass/_main.scss */
  .k-main {
    margin-left: 80px;
    -webkit-flex: 1;
    flex: 1;
  }
}
/* line 116, ../sass/_main.scss */
.k-config {
  width: 600px;
  height: 300px;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -150px;
  z-index: 100;
  background-color: #FFF;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}
/* line 129, ../sass/_main.scss */
.k-config .k-config-theme {
  flex: 1;
  border: 1px solid #CCC;
  margin: 20px;
  text-align: center !important;
  padding-top: 15%;
}
/* line 135, ../sass/_main.scss */
.k-config .k-config-theme i {
  display: block;
  font-size: 3rem;
}
/* line 139, ../sass/_main.scss */
.k-config .k-config-theme:hover {
  background-color: #CCC;
}
/* line 141, ../sass/_main.scss */
.k-config .k-config-theme:hover i {
  text-align: center !important;
}

/* line 4, ../sass/_forum.scss */
.k-forum {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
}
/* line 9, ../sass/_forum.scss */
.k-forum .k-frame {
  -webkit-flex: 1;
  flex: 1;
  min-width: 600px;
  border: none;
  overflow-y: scroll;
  height: 100vh;
}
/* line 17, ../sass/_forum.scss */
.k-forum .k-page-list {
  -webkit-flex: initial;
  flex: initial;
  overflow-y: scroll;
  height: 100vh;
  min-width: 300px;
  max-width: 600px;
}
/* line 24, ../sass/_forum.scss */
.k-forum .k-page-list .k-list {
  list-style: none;
  margin: 0;
  padding: 0 0;
  border-style: solid;
  border-width: 0 0 1px 0;
}
/* line 30, ../sass/_forum.scss */
.k-forum .k-page-list .k-list .k-list-item {
  position: relative;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: inherit;
  padding: 10px 15px;
}
/* line 37, ../sass/_forum.scss */
.k-forum .k-page-list .k-list .k-list-item .k-list-item-title-reply .k-list-item-title {
  display: inline-block;
  padding-right: 45px;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}
/* line 44, ../sass/_forum.scss */
.k-forum .k-page-list .k-list .k-list-item .k-list-item-title-reply .k-list-item-reply {
  position: absolute;
  text-align: center;
  width: 30px;
  right: 15px;
  top: 15px;
  padding: 3px 5px;
  border-radius: 10px;
  font-size: 14px;
}
/* line 55, ../sass/_forum.scss */
.k-forum .k-page-list .k-list .k-list-item .k-list-item-infos {
  height: 20px;
  padding: 5px 0 0 0;
  vertical-align: middle;
}
/* line 59, ../sass/_forum.scss */
.k-forum .k-page-list .k-list .k-list-item .k-list-item-infos .k-list-item-avatar {
  width: 15px;
  border-radius: 50%;
  vertical-align: middle;
}
/* line 64, ../sass/_forum.scss */
.k-forum .k-page-list .k-list .k-list-item .k-list-item-infos .k-list-item-user {
  font-size: 13px;
}
/* line 67, ../sass/_forum.scss */
.k-forum .k-page-list .k-list .k-list-item .k-list-item-infos .k-list-item-node {
  font-size: 13px;
}
/* line 73, ../sass/_forum.scss */
.k-forum .k-page-list .k-page {
  padding: 10px 20px;
  position: relative;
  height: 40px;
}
/* line 77, ../sass/_forum.scss */
.k-forum .k-page-list .k-page span {
  line-height: 40px;
}
/* line 80, ../sass/_forum.scss */
.k-forum .k-page-list .k-page .k-page-next {
  position: absolute;
  right: 20px;
  top: 10px;
}

/* line 26, ../sass/v2ex.k.vue.scss */
body {
  background-color: #FFFFFF !important;
}

/* 这是针对缺省样式 (必须的) */
/* line 31, ../sass/v2ex.k.vue.scss */
::-webkit-scrollbar-track {
  background-color: #FFFFFF !important;
}

/* 滚动条的滑轨背景颜色 */
/* line 35, ../sass/v2ex.k.vue.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

/* nav */
/* line 40, ../sass/v2ex.k.vue.scss */
.k-nav-bg {
  background-color: #34495E;
}

/* line 43, ../sass/v2ex.k.vue.scss */
.k-nav-hover:hover {
  background-color: #233342;
}

/* line 46, ../sass/v2ex.k.vue.scss */
.k-nav-text {
  color: #FFFFFF;
}

/* tab */
/* line 51, ../sass/v2ex.k.vue.scss */
.k-tab-bg {
  background-color: #4f6f8f;
}

/* line 55, ../sass/v2ex.k.vue.scss */
.k-tab-hover:hover, .k-tab-hover.active {
  background-color: #7796b4;
}

/* line 59, ../sass/v2ex.k.vue.scss */
.k-tab-text {
  color: #FFFFFF;
}

/* list */
/* line 63, ../sass/v2ex.k.vue.scss */
.k-list-bg {
  background-color: #7796b4;
}

/* line 66, ../sass/v2ex.k.vue.scss */
.k-list-text {
  color: #FFFFFF;
}

/* line 69, ../sass/v2ex.k.vue.scss */
.k-list-text-2 {
  color: #98afc6;
}
/* line 71, ../sass/v2ex.k.vue.scss */
.k-list-text-2:hover {
  color: #FFFFFF;
}

/* line 75, ../sass/v2ex.k.vue.scss */
.k-list-border {
  border-color: #98afc6;
}

/* line 78, ../sass/v2ex.k.vue.scss */
.k-list-reply {
  background-color: #FFFFFF;
  color: #7796b4;
}

/* iframe */
/* line 85, ../sass/v2ex.k.vue.scss */
.k-iframe-bg {
  background-color: #dae2ea;
}
