@import "const";


.k-forum{
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display: flex;
    .k-frame{
        -webkit-flex: 1;
        flex: 1;
        min-width: 600px;
        border: none;
        overflow-y: scroll;
        height: 100vh;
    }
    .k-page-list{
        -webkit-flex: initial;
        flex: initial;
        overflow-y: scroll;
        height: 100vh;
        min-width: 300px;
        max-width: 600px;
        .k-list{
            list-style: none;
            margin: 0;
            padding: 0 0;
            border-style: solid;
            border-bottom-width: 1px;

            .k-list-item{
                position: relative;
                border-style: solid;
                border-top-width: 1px;
                border-color: inherit;
                padding: 10px 15px;
                .k-list-item-title-reply{
                    .k-list-item-title{
                        display: inline-block;
                        padding-right: 45px;
                        font-size: 16px;
                        line-height: 22px;
                        cursor: pointer;
                    }
                    .k-list-item-reply{
                        position: absolute;
                        text-align: center;
                        width: 30px;
                        right: 15px;
                        top: 15px;
                        padding: 3px 5px;
                        border-radius: 10px;
                        font-size: 14px;
                    }
                }
                .k-list-item-infos{
                    height: 20px;
                    padding: 5px 0 0 0;
                    vertical-align: middle;
                    .k-list-item-avatar{
                        width: 15px;
                        border-radius: 50%;
                        vertical-align: middle;
                    }
                    .k-list-item-user{
                        font-size: 13px;
                    }
                    .k-list-item-node{
                        font-size: 13px;
                    }
                }
            }
        }
        .k-page{
            padding: 10px 20px;
            position: relative;
            height: 40px;
            span{
                line-height: 40px;
            }
            .k-page-next{
                position: absolute;
                right:20px;
                top:10px;
            }
        }
    }
}
