@import "const";
.k-navbar {
    vertical-align: top;
    transition: width 0.2s;
    .k-navbar-item {
        display: block;
        vertical-align: middle;
        padding: 15px 0;
        text-align: center;
        span {
            display: inline-block;
            text-align: left;
            width: 0;
            height: 0;
            vertical-align: top;
            transition: width 0.3s;
            overflow: hidden;
        }
        i {
            font-size: 22px;
        }
    }
    .k-avatar {
        padding: 20px 0;
        max-height: 80px;
        overflow: hidden;
        img {
            display: inline-block;
            width: 40px;
            border-radius: 50%;
            margin-left: 20px
        }
        span {
          display: inline-block;
          text-align: left;
          width: 0;
          height: 0;
          vertical-align: top;
          transition: width .5s;
          overflow: hidden;
        }
    }
    &:hover {
        width: 140px;
        & > .k-navbar-item > i {
            text-align: right;
            width: 40px;
            padding-right: 10px;
        }
        span {
            line-height: 24px;
            height: 24px;
            width: 70px;
        }
        .k-avatar {
            img {
                width: 0;
            }
            span{
                vertical-align: top;
                line-height: 40px;
                height: 40px;
                width: 100px;
            }
        }
    }
}
