@import "const";

.k-tabbar {
  display: inline-block;
  left: 80px;
  width: 60px;
  height: 100%;
  padding-top: 80px;
  vertical-align: top;
  text-align: center;
  .k-tabbar-item {
    display: block;
    vertical-align: middle;
    padding: 15px 0;
    font-size: 12px;
    text-decoration: none;
  }
}
