/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";

$color_dark: #505770;
$color_light: #707791;
$color_node: #BCC4E0;
$color_background: #F1F2F6;
$color_hover: #9B9EC2;
$color_item: #FFFFFF;
$color_item_a: #3C3B47;
$color_choosen: #EEE;

$color_green: #2DCC70;
$color_nav_bg: #34495E;
$color_nav_bg_light: lighten($color_nav_bg, 15%);
$color_nav_choose: #233342;
$color_nav_choose_light: lighten($color_nav_choose, 15%);
$color_nav_text: #95A5A4;
$color_bg_grey: #ECF0F1;
$color_bg_border: #DFE0E2;
$color_title: #2D3E50;
$color_item_choose: #F7F8FC;
$color_subtitle: #BCC3C9;

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
  height: 100%;
  background-color: $color_bg_grey;
  overflow-x: hidden;
}

::-webkit-scrollbar {
      width: 1px;
}

#k_sidebar {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 140px;
  height: 100%;
  background-color: $color_nav_bg;
  text-decoration: none;
  #k_navbar {
    display: inline-block;
    width: 80px;
    height: 100%;
    vertical-align: top;
    transition: width .3s;
    a {
      display: block;
      vertical-align: middle;
      padding: 15px 0;
      background-color: $color_nav_bg;
      color: $color_nav_text;
      text-align: center;
      span {
        display: inline-block;
        text-align: left;
        width: 0;
        height: 0;
        vertical-align: top;
        transition: width .5s;
        overflow: hidden;
      }

      &:hover {
        i {
          color: $color_green;
        }
        background-color: $color_nav_choose;
        color: #FFF;
      }
    }
    #k_avatar {
      background-color: $color_green;
      padding: 20px 0;
      img {
        width: 40px;
        border-radius: 50%;
      }
    }
    &:hover {
      width: 140px;
      i {
        text-align: right;
        width: 40px;
        padding-right: 10px;
      }
      span {
        line-height: 40px;
        height: 40px;
        width: 70px;
      }
      #k_avatar {
        img {
          padding: 0 10px;
          border-radius: 50%;
        }
        span {
          color: #FFF;
          vertical-align: top;
        }
      }
    }
  }

  #k_tabbar {
    display: inline-block;
    left: 80px;
    width: 60px;
    height: 100%;
    vertical-align: top;
    text-align: center;
    background-color: $color_nav_bg_light;
    a {
      display: block;
      vertical-align: middle;
      padding: 15px 0;
      font-size: 12px;
      text-decoration: none;
      color: #EEE;
      &:hover {
        background-color: $color_nav_choose_light;
        color: #FFF;
      }
    }
  }
}

#k_main {
  display: inline-block;
  margin-left: 140px;
  margin-right: 680px;
  overflow: hidden;
  background-color: $color_bg_grey;
  transition: width 2s ease-out;
  #k_itemList {
    width: 100%;
    overflow: hidden;
    #k_hover {
      background-color: #000;
      opacity: 0.8;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1001;
      canvas {
        margin: 20% auto;
      }
    }
    #k_subNav {
      display: block;
      a {
        color: $color_nav_text;
        text-align: center;
        line-height: 32px;
        height: 32px;
        padding: 0 5px;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: .8px;
        display: inline-block;
        transition: color .28s ease;
      }
    }
    #k_itemList_ul {
      margin: 0 0 0 1px;
      li {
        position: relative;
        background-color: #FFF;
        list-style-type: none;
        text-align: left;
        overflow: hidden;
        border: 1px solid $color_bg_border;
        padding: 5px;
        a {
          vertical-align: text-top;
          display: inline-block;
        }
        .k_itemList_avatar {
          img {
            width: 48px;
            height: 48px;
          }
          width: 48px;
          height: 48px;
          overflow: hidden;
        }
        .k_itemList_title {
          vertical-align: text-top;
          display: inline-block;
          background-color: #FFF;
          color: $color_title;
          padding-left: 10px;
          font-size: 16px;
          line-height: 24px;
          height: 48px;
          transition: width 0.5s ease-out;

        }
        .k_itemList_node_vote {
          display: inline-block;
          vertical-align: text-top;
          height: 48px;
          width: 80px;
          margin: 0;
          padding: 0;
          text-align: center;
          .k_itemList_vote {
            display: inline-block;
            width: 50%;
            line-height: 24px;
            height: 24px;
            color: #ffffff;
          }
          .k_itemList_reply {
            display: inline-block;
            width: 50%;
            line-height: 24px;
            height: 24px;
            color: #ffffff;
            background-color: $color_hover;
            i {
              font-size: 7px;
            }
          }
          .k_itemList_node {
            font-size: 8px;
            line-height: 24px;
            height: 24px;
            display: block;
            padding: 0 5px;
            color: #ffffff;
            background: $color_dark;
          }
        }
        .k_itemList_more {
          color: $color_background;
          height: 48px;
          font-size: 20px;
          line-height: 48px;
        }
        .k_itemList_QR {
          float: right;
          i {
            color: #FFF;
          }
          padding: 8px 0;
        }
      }
      li:hover {
        background-color: $color_hover;
        .k_itemList_title {
          background-color: inherit;
          color: $color_item_a;
        }
      }
      li.k_itemList_choosen {
        background-color: $color_node;

        .k_itemList_title {
          background-color: inherit;
          color: $color_item_a;
        }
      }
    }
  }
  #k_notifiList {
    width: auto;
    margin: 0 0 0 0;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
    li {
      position: relative;
      background-color: $color_light;
      list-style-type: none;
      text-align: left;
      overflow: hidden;
      border-radius: 0;
      border-bottom: 1px solid $color_dark;
      padding: 5px;
      .k_notifiList_avatar {
        vertical-align: text-top;
        img {
          width: 24px;
          height: 24px;
        }
        width: 24px;
        height: 24px;
        overflow: hidden;
      }
      .k_notifiList_title {
        vertical-align: top;
        display: inline-block;
        background-color: $color_light;
        color: $color_hover;
        padding-left: 10px;
        font-size: 14px;
        line-height: 24px;
        height: 24px;
      }
      .k_notifiList_reply {
        border-left: 4px solid $color_node;
        line-height: 18px;
        padding: 10px;
        margin-top: 5px;
        background-color: $color_light;
        color: #FFFFFF;
      }
    }
  }
}

#k_faster{
  display: inline-block;
  position: fixed;
  right: 0;
  top: 0;
  width: 680px;
  height: 100%;
  background-color: $color_bg_grey;
}
#k_infos {
  position: fixed;
  top: 0;
  left: 80px;
  height: 48px;
  display: inline-block;
  z-index: 1000;
  padding: 15px 0;
  background-color: $color_dark;
  width: 600px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  a.dark {
    height: 100%;
    display: inline-block !important;
    vertical-align: middle;
    margin-right: 5px;
    padding: 15px 0;
  }
  div {
    display: inline-block;
    padding: 0;
    img {
      width: 48px;
      border-radius: 50%;
    }
    div.node_compose {
      display: none;
    }
    a:last-child {
      display: none;
    }
  }
}

#k_infos.hiden {
  //  display: none !important;
  width: 0;
  overflow: hidden;
}

#Bottom {
  display: none;
}

//colors

.k_color_dark {
  background-color: $color_dark;
}

.k_color_light {
  background-color: $color_light;
}

span a.node.k_color_node, td a.count_livid.k_color_count, span.no {
  background-color: $color_node;
  color: $color_dark;

}

td a.count_livid.k_color_count {
  float: right;
}

#Wrapper.k_color_background {
  background-color: $color_background;
}

//.k_color_hover:hover {
//  background-color: $color_hover;
//  color: $color_dark;
//}

.k_color_item {
  background-color: $color_item;
  a:link, a:visited, a:active {
    color: $color_item_a;
    text-shadow: none;
  }
}

.k_color_choosen {
  background-color: $color_choosen;
}

//colors end

.sep20{
  display: none;
}
.topic_buttons{
  margin-top: 0 !important;
}

.box {
  border-radius: 0 !important;
  box-shadow: none;
  border: 1px solid #DDD;
  margin-bottom: -1px;
  .inner {
    border-radius: 0px;
  }
}

.box
.cell {
  border-bottom: 1px solid #E2E2E2;
  table tr td:nth-child(1) {
    vertical-align: middle !important;
  }
  table tr td:nth-child(3) a[href="/new"] {
    padding: 7px 20px;
    background: #eee;
    border-radius: 20px;
    margin: 0 78px 20px 0;
    float: right;
  }
}

.cell > table {
  table-layout: fixed;
  tbody tr td {
    border-left: none !important;
    border-right: none !important;
  }
}

.cell.item.k_color_item > div > img {
  display: none;
}

.fade {
  color: $color_item_a;
}

a.fade {
  display: none;
}

.inner {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item_title {
  padding-top: 10px;
}

.msl {
  width: 615px;
}

.no {
  color: #BBB;
  padding: 4px 5px;
}

.snow {
  color: #CCC;
}

.topic_buttons {
  border-top: 1px solid #e6e6e6;
  background: #f3f3f3 !important;
  margin-top: 20px;
}

a:link, a:visited, a:active {
  color: #666E74;
}

a.balance_area:link, a.balance_area:visited, .balance_area {
  background: #FFF;
}

a.item_node {
  background: #FFF;
  border: 1px #FFF solid;
}

textarea.mll {
  width: 625px;
}

div[id*="r_"].cell table tr td:nth-child(1) {
  vertical-align: baseline !important;
}

div.header h1 {
  margin-right: 80px;
}

div.fr a[href*="member"] img {
  margin-top: 30px;
}

td[width="32"] {
  padding-right: 20px;
}

a.balance_area {
  vertical-align: top;
  background: none;
}

#reply_content {
  width: 100%;
}

textarea.mll {
  padding: 0;
}

iframe[seamless] {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

/*------------fonticon------------*/

/*---colors---*/
.red {
  background: #e53935
}

.yellow {
  background: #f9a825;
}

.green {
  background: #43a047;
}

.blue {
  background: #0277bd;
}

.black {
  background: #263238;
}