/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, E:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

/* line 23, ../sass/screen.scss */
#Top, #Bottom, #Tabs {
  display: none;
}

/* line 27, ../sass/screen.scss */
#k_navbar {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  vertical-align: top;
  text-align: center;
}
/* line 36, ../sass/screen.scss */
#k_navbar a {
  display: block;
  vertical-align: middle;
  padding: 15px 0;
  color: #fff;
}
/* line 41, ../sass/screen.scss */
#k_navbar a img {
  width: 100%;
}

/* line 47, ../sass/screen.scss */
#k_tabbar {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 80px;
  width: 60px;
  height: 100%;
  vertical-align: top;
  text-align: center;
}
/* line 56, ../sass/screen.scss */
#k_tabbar a {
  display: block;
  vertical-align: middle;
  padding: 15px 0;
  color: #fff;
  margin-right: 0;
}

/* line 65, ../sass/screen.scss */
#k_faster {
  padding: 10px 20px;
  text-align: left;
  margin: 0;
  overflow: scroll;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
/* line 73, ../sass/screen.scss */
#k_faster p {
  margin: 0;
  text-indent: 32px;
  font-size: 16px;
  line-height: 30px;
}
/* line 80, ../sass/screen.scss */
#k_faster h2, #k_faster h3 {
  margin: 0;
  font-size: 150%;
  line-height: 40px;
}
/* line 86, ../sass/screen.scss */
#k_faster blockquote {
  margin: 0;
  padding: 5px 0 5px 15px;
  border-left: 5px solid #ddd;
  font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, FontAwesome, serif;
}
/* line 93, ../sass/screen.scss */
#k_faster * {
  max-width: 690px;
}

/* line 100, ../sass/screen.scss */
.k_color_dark {
  background-color: #505770;
}

/* line 104, ../sass/screen.scss */
.k_color_light {
  background-color: #707791;
}

/* line 108, ../sass/screen.scss */
span a.node.k_color_node, td a.count_livid.k_color_count, span.no {
  background-color: #BCC4E0;
  color: #505770;
}

/* line 113, ../sass/screen.scss */
#Wrapper.k_color_background {
  background-color: #F1F2F6;
}

/* line 117, ../sass/screen.scss */
.k_color_hover:hover {
  background-color: #9B9EC2;
}

/* line 121, ../sass/screen.scss */
.k_color_item {
  background-color: #FFFFFF;
}
/* line 123, ../sass/screen.scss */
.k_color_item a:link, .k_color_item a:visited, .k_color_item a:active {
  color: #3C3B47;
  text-shadow: none;
}

/* line 129, ../sass/screen.scss */
.k_color_choosen {
  background-color: #EEE;
}

/* line 135, ../sass/screen.scss */
body #Wrapper {
  display: inline-block;
  width: auto;
  height: 100%;
  margin-left: 140px;
  background-image: none;
}
/* line 142, ../sass/screen.scss */
body #Wrapper .content {
  width: auto;
  margin: 0 0px 0 auto;
}
/* line 146, ../sass/screen.scss */
body #Wrapper .sep20 {
  display: none;
}

/* line 151, ../sass/screen.scss */
#Search {
  width: 100%;
}
/* line 153, ../sass/screen.scss */
#Search form div {
  width: 270px !important;
  background: #FFF !important;
  border: 1px solid #dddddd;
}

/* line 161, ../sass/screen.scss */
::-webkit-scrollbar {
  width: 2px;
}

/* line 165, ../sass/screen.scss */
#Main {
  width: auto;
  margin: 0px 270px 0px 0px !important;
  overflow: scroll;
}
/* line 169, ../sass/screen.scss */
#Main img.avatar {
  max-width: 48px !important;
  max-height: 48px !important;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 174, ../sass/screen.scss */
#Main .cell table tr td:nth-child(3), #Main .cell table tr td:nth-child(4) {
  min-height: 60px;
}
/* line 177, ../sass/screen.scss */
#Main .box .inner {
  border-bottom: 0px;
}
/* line 180, ../sass/screen.scss */
#Main .box:nth-child(2) .cell:nth-child(2) {
  padding: 10px 28px !important;
}
/* line 183, ../sass/screen.scss */
#Main .box:nth-child(2) .cell:nth-child(n+2), #Main .box:first-child .cell {
  padding: 15px 24px 15px 24px;
}
/* line 186, ../sass/screen.scss */
#Main .box .topic_buttons {
  border-top: 1px solid #e6e6e6;
  background: #f3f3f3;
  margin-top: 20px;
}

/* line 198, ../sass/screen.scss */
#Rightbar div:nth-child(3) .cell:nth-child(2) {
  display: none;
}
/* line 201, ../sass/screen.scss */
#Rightbar div:nth-child(3) .cell:first-child table:nth-child(1) tr td:nth-child(1) {
  text-align: center;
}
/* line 205, ../sass/screen.scss */
#Rightbar div:nth-child(3) .cell:first-child table:nth-child(1) tr td:nth-child(2),
#Rightbar div:nth-child(3) .cell:first-child table:nth-child(1) tr td:nth-child(3),
#Rightbar .sep20, #Rightbar img[src*="flat_compose.png"] {
  display: none;
}
/* line 211, ../sass/screen.scss */
#Rightbar div:nth-child(3) .cell:first-child table:nth-child(3) {
  padding-bottom: 15px;
  padding-top: 15px;
}
/* line 216, ../sass/screen.scss */
#Rightbar .box div:nth-child(1) {
  border-bottom: 0px;
}

/* line 221, ../sass/screen.scss */
.box {
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #DDD;
  margin-bottom: -1px;
}
/* line 226, ../sass/screen.scss */
.box .inner {
  border-radius: 0px;
}

/* line 231, ../sass/screen.scss */
.box
.cell {
  border-bottom: 1px solid #E2E2E2;
}
/* line 234, ../sass/screen.scss */
.box
.cell table tr td:nth-child(1) {
  vertical-align: middle !important;
}
/* line 237, ../sass/screen.scss */
.box
.cell table tr td:nth-child(3) a[href="/new"] {
  padding: 7px 20px;
  background: #eee;
  border-radius: 20px;
  margin: 0 78px 20px 0;
  float: right;
}

/* line 246, ../sass/screen.scss */
.cell > table {
  table-layout: fixed;
}
/* line 248, ../sass/screen.scss */
.cell > table tbody tr td {
  border-left: none !important;
  border-right: none !important;
}

/* line 254, ../sass/screen.scss */
.cell.item.k_color_item > div > img {
  display: none;
}

/* line 258, ../sass/screen.scss */
.fade {
  color: #AAA;
}

/* line 262, ../sass/screen.scss */
a.fade {
  display: none;
}

/* line 266, ../sass/screen.scss */
.inner {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 271, ../sass/screen.scss */
.item_title {
  padding-top: 10px;
}

/* line 275, ../sass/screen.scss */
.msl {
  width: 615px;
}

/* line 279, ../sass/screen.scss */
.no {
  color: #BBB;
  padding: 4px 5px;
}

/* line 284, ../sass/screen.scss */
.snow {
  color: #CCC;
}

/* line 288, ../sass/screen.scss */
.topic_buttons {
  border-top: 1px solid #e6e6e6;
  background: #f3f3f3;
  margin-top: 20px;
}

/* line 294, ../sass/screen.scss */
a:link, a:visited, a:active {
  color: #666E74;
}

/* line 298, ../sass/screen.scss */
a.top:link, a.top:visited {
  color: #BBB;
  font-size: 14px;
}

/* line 303, ../sass/screen.scss */
a.top:hover {
  color: #333;
}

/* line 307, ../sass/screen.scss */
a.balance_area:link, a.balance_area:visited, .balance_area {
  background: #FFF;
}

/* line 311, ../sass/screen.scss */
a.item_node {
  background: #FFF;
  border: 1px #FFF solid;
}

/* line 316, ../sass/screen.scss */
textarea.mll {
  width: 625px;
}

/* line 320, ../sass/screen.scss */
div[id*="r_"].cell table tr td:nth-child(1) {
  vertical-align: baseline !important;
}

/* line 324, ../sass/screen.scss */
div.header h1 {
  margin-right: 80px;
}

/* line 328, ../sass/screen.scss */
div.fr a[href*="member"] img {
  margin-top: 30px;
}

/* line 332, ../sass/screen.scss */
td[width="32"] {
  padding-right: 20px;
}

/* line 336, ../sass/screen.scss */
#Rightbar .box .cell table:first-child tbody tr td:first-child {
  display: none;
}

/* line 340, ../sass/screen.scss */
img.circle-img {
  border-radius: 50% !important;
}

/* line 344, ../sass/screen.scss */
a.balance_area {
  vertical-align: top;
  background: none;
}

/* line 349, ../sass/screen.scss */
#reply_content {
  width: 100%;
}

/* line 353, ../sass/screen.scss */
textarea.mll {
  padding: 0;
}

/* line 357, ../sass/screen.scss */
iframe[seamless] {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
}

/*------------fonticon------------*/
